@import "../App/layout.scss";

.commentWrapper {
  position: relative;

  width: 100%;
  max-width: 600px;
  padding-top: 30px;
}

.textarea {
  width: 100%;
  margin: 0;
  padding: 10px;

  resize: none;

  outline-color: #4DA6FF;

  font-size: 1rem;
}

.rating {
  padding: 10px 0 10px 20px;
}

.submitButton {
  margin-left: 20px;

  border-color: #82c0ff;
  background-color: #82c0ff;

  @include button();

  &:hover {
    border-color: #4DA6FF;
    background-color: #4DA6FF;

  }
}

.error {
  visibility: visible;

  padding: 10px 0 10px 20px;

  color: red;

  font-size: 1.2rem;;
}

.hidden {
  visibility: hidden;
}

@include tablet-portrait-up() {
  .textarea {
    margin: 0 20px;
  }
}
