@import "../App/layout.scss";

.commentWrapper {
  width: 100%;
  max-width: 600px;

  padding-top: 30px;
}

.textarea {
  width: 100%;

  padding: 10px;

  font-size: 1rem;

  margin: 0;

  resize: none;
  outline-color: #4DA6FF;
}

.rating {
  padding: 10px 0 10px 20px;
}

.submitButton {
  @include button();

  margin-left: 20px;

  background-color: #82c0ff;
  border-color: #82c0ff;

  &:hover {
    background-color: #4DA6FF;
    border-color: #4DA6FF;

  }
}

.error {
  visibility: visible;
  padding: 10px 0 10px 20px;;

  color: red;

  font-size: 1.2rem;
}

.hidden {
  visibility: hidden;
}

@include tablet-portrait-up() {
  .textarea {
    margin: 0 20px;
  }
}
