.idea

# Dependency directory
node_modules

#dist folder
dist

# Mac files
.DS_Store

#tmp folder produced by mocha-webpack
.tmp

#istanbul test coverage output
.nyc_output
coverage


#yarn
yarn.lock
