@import "../App/layout.scss";

.item {
  padding: 20px 0;

  font-size: 1.2rem;

}

.heading {
  display: flex;
  justify-content: space-between;

  padding-right: 20px;
}

.author {
  font-weight: 600;
  text-align: left;
}

.date {
  text-align: right;
}

.rating {
  padding: 10px 0;
}

.text {
  font-size: 1.2rem;
  line-height: 1.4rem;
}
