@import "../App/layout.scss";

.card {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photo {
  width: 40%;
}

.picture {
  width: 100%;
}

.info {
  width: 40%;
}

.title {
  font-size: 1.6rem;

}

.description {
  font-size: 1.4rem;

  line-height: 1.4rem;

  text-align: justify;
}
