@import "../App/layout.scss";

.card {
  display: flex;
  flex-direction: column;

  min-height: 200px;

  padding: 20px 20px 0 20px;

  justify-content: space-between;
  align-items: center;
}

.photo {
  width: 100%;

  font-size: 1.2rem;
}

.img {
  width: 100%;
}

.info {
  width: 100%;

  font-size: 1.2rem;

}

.title {
  margin-right: auto;

  text-align: center;

  font-size: 1.6rem;
  font-weight: 600;
}

.container {
  display: flex;

  padding: 10px 20px 10px 0;

  justify-content: flex-end;
  align-items: center;
}

.button {
  margin-left: 20px;

  border-color: #c0f495;
  background-color: #c0f495;

  @include button();

  &:hover {
    border-color: #5fb01c;
    background-color: #5fb01c;

  }
}

.description {
  text-align: justify;

  font-size: 1.3rem;
  line-height: 1.4rem;
}

@include phone-only() {
  .info {
    font-size: 1.1rem;
  }

}

@include tablet-landscape-up() {
  .card {
    flex-direction: row;
  }

  .info {
    flex-wrap: wrap;
    padding-left: 5%;
    font-size: 1.4rem;
  }

  .title {
    font-size: 1.6rem;
  }

  .price {
    padding-left: 20px;
  }

  .button {
    margin-top: 10px;
  }
};

@include tablet-landscape-only {
  .card {
    justify-content: space-around;
  }
};


@include desktop-up {
  .card {
    justify-content: flex-start;
  }

  .button {
    margin-top: 0;
  }
};
