@mixin phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin tablet {
  @media (min-width: 600px) and (max-width: 775px) { @content; }
}
@mixin tablet-portrait-only {
  @media (min-width: 600px) and (max-width: 899px) { @content; }
}
@mixin tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin tablet-landscape-only {
  @media (min-width: 900px) and (max-width: 1099px) { @content; }
}
@mixin desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin desktop-only {
  @media (min-width: 1200px) and (max-width: 1799px) { @content; }
}
