@mixin button {
  display: flex;

  padding: 8px 10px;

  cursor: pointer;

  border-radius: 5px;
  outline-width: 0px;
  outline-color: transparent;

  font-size: 1rem;

  justify-content: space-around;
  align-items: center;
}
