@import '../App/layout.scss';

.loading {
  position: absolute;
  left: 50%;

  transform: translateX(-50%);
}

.hidden {
  display: none;
}

.small {
  bottom: -60px;
  left: 200px;
}

@include tablet-landscape-up() {
  .loading {
    left: 33%;
  }
}
